{% extends 'base.html' %}

{% block title %}Delete Traveler's Profile - Travelers Hub{% endblock %}

{% block content %}
<main>
    <section id="edit">
        <div class="form">
            <h1>Do you like to delete your Traveler's Profile? {{ traveler.nickname }}</h1>
            <form id='delete' class="delete-confirmation" method="post" action="">
                {% csrf_token %}
                <button type="submit">Yes</button>
            </form>
        </div>
    </section>
</main>
{% endblock %}

