{% extends 'base.html' %}
{% load static %}

{% block main_content %}
      <header>
        <!-- Navigation Bar -->
        <h1>
          <a class="index-navigation" href="{% url 'index' %}"
          ><span>World of Speed</span></a
        >
        </h1>
        <nav>
          <a href="{% url 'catalogue' %}">Catalogue</a>
          <a href="{% url 'create_car' %}">Create Car</a>
          <a href="{% url 'profile_details'%}">Profile</a>
        </nav>
      </header>

      <!-- edit car form -->
      <section id="create-page" class="auth">
        <form id="create" action="{% url 'edit_car' pk=car.pk %}" method="post">
          <div class="container">
              {{ form }}
            <input class="btn submit" type="submit" value="Edit Car" />
              {% csrf_token %}
          </div>
        </form>
      </section>
{% endblock %}
